* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h3 {
  text-transform: uppercase;
}

.container {
  width: 80%;
  margin: auto;
}

main.comics {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  color: white;
  padding: 0 0.8rem;
}
main.comics > .container {
  display: flex;
  flex-wrap: wrap;
  padding: 0.8rem 0;
}
main.comics h4 {
  position: absolute;
  top: -5%;
  left: 10%;
  background-color: #00a9d9;
  padding: 1rem;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
main.comics span {
  display: inline-block;
  background-color: #00a9d9;
  margin-bottom: 2rem;
  padding: 1rem 5rem;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
main.comics div.card {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 6);
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}
main.comics div.card img {
  width: 180px;
  height: 200px;
  cursor: pointer;
}
main.comics div.card h5 {
  width: 80%;
  text-transform: uppercase;
  color: white;
  margin-top: 1rem;
  font-size: 12px;
  cursor: pointer;
}
main.comics div.card:hover {
  transform: scale(1.05);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 120px;
  margin: auto;
}
header img {
  width: 80px;
}
header ul {
  display: flex;
}
header ul li {
  margin: 0 0.5rem;
}
header ul li a {
  text-transform: uppercase;
  color: #464646;
  font-weight: 700;
}
header ul li a.active {
  color: #00a9d9;
  border-bottom: 5px solid #00a9d9;
  padding-bottom: 46px;
}

section.jumbotron {
  height: 380px;
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
}

section.shop {
  height: 160px;
  background-color: #00a9d9;
}
section.shop ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
section.shop ul li {
  margin: 0 2rem;
}
section.shop ul li a {
  display: flex;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
}
section.shop ul li a img {
  width: 50px;
  margin: 0 0.6rem;
}

footer {
  height: 480px;
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
}
footer .f-top {
  display: flex;
  align-items: center;
  height: 370px;
  margin: 0 auto;
}
footer .f-top > .container {
  background-image: url("../img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
footer .f-top section {
  float: left;
  margin-right: 3rem;
}
footer .f-top section h3 {
  color: white;
  font-weight: 700;
  margin: 1.3rem 0;
}
footer .f-top section li {
  margin-bottom: 0.5rem;
}
footer .f-top section a {
  color: #959595;
}
footer .f-top section a:hover {
  color: white;
}
footer .f-bottom {
  height: 110px;
  background-color: #303030;
}
footer .f-bottom > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
footer .f-bottom button {
  background: none;
  border: 2px solid #00a9d9;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.8rem;
}
footer .f-bottom ul {
  display: flex;
  align-items: center;
}
footer .f-bottom ul li {
  margin: 0.6rem;
}
footer .f-bottom ul a {
  color: #00a9d9;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}